@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
body{	
	font-family: 'Chilanka', cursive;	
	padding: 0;	
	margin: 0;
	background: #55ffe5;
	 }

.main-header h1{	
	font-family: 'Sansita Swashed', cursive;
		margin: 0;
		padding: 0;	
		padding: 14px;	
		cursor: pointer;
}
.main-header{	
	background: url("sawirka3.jfif") center no-repeat;	
	background-size: cover;	
	background-position: fixed;	
	height: 100vh;
}
.main-header h2{

	text-align: center;	
	position: relative;	
	top: 30%;	
	color: white;	
	cursor: pointer;
}
.main-header h2 span{	
	background-color: #e4d9d9;	
	padding: 10px;	
	color: white;
	background-color: blue;
}
.header{	
	font-family: 'Sansita Swashed', 
	cursive;	display: flex;	
	justify-content: space-around;
}
.navigation ul{	
	display: flex;	
	flex-wrap: wrap;
}
.navigation ul li{	
	list-style: none;	
	margin-left: 20px;	
	padding: 10px;
}
.navigation ul li a{	
	text-decoration: none;	
	color: black;
}
.navigation ul li:hover{	
	background-color: rgb(223, 35, 35);	
	padding: 10px;
}
/*end here navigation and main-header*/
/start here services/
h2{	
	text-align: center;
}
.service .main-service{
	display: flex;
	justify-content: center;
}
.service .service-box{
	background-color: #ccd;
	margin-left: 8px;
	text-align: center;
	width: 200px;
	padding: 30px 10px;

}
.service .service-box i{
	background-color: green;
	color: white;
	padding: 10px;
	font-size:22px ;
	border-radius: 55%;

}
	

.gallery .img{	
	display: grid;	
	grid-template-columns: repeat(4, 1fr);	
	padding: 40px 0;
}@media (max-width: 600px){	
	.service .gallery .img{		
		display: grid;		
		grid-template-columns: repeat(1, 1fr); 	
    }	
.service .gallery .img img{		
	width: 200px;	
} 
}.service .gallery .img img{	
	height: 200px;	width:100%;
}
*/end here services*/ 


*/start here get in touch*/
.touch{	
	background : #eee;	
	padding-top: 10px;
}
.break{	
	display: grid;	
	grid-template-columns: repeat(3, 1fr);	
	padding: 0 80px;	
	text-align: center;
}@media (max-width: 600px)
{	
	.break{		
		display: grid;		
		grid-template-columns: repeat(1, 1fr);		
		text-align: center;	
	}
}.touch .footer{	
	background-color: green;
	text-align: center;
	padding: 50px 100px;
	color: white;
}